In [2]:
import numpy as np
import pandas as pd

In [3]:
Tunnel_Feb = pd.read_csv('February_2023.csv')
Tunnel_Feb.loc[0:10]

,Count Date,Dir,0h,1h,2h,3h,4h,5h,6h,7h,...,14h,15h,16h,17h,18h,19h,20h,21h,22h,23h
0,02/01/2023,P,102,77,57,95,118,207,460,758,...,2243,2709,2464,1817,1116,692,466,389,242,178
1,02/01/2023,S,152,113,98,135,245,431,978,1946,...,1513,1420,1496,1306,1097,783,620,508,411,307
2,02/02/2023,P,137,72,66,72,121,220,441,752,...,2559,2782,2853,1750,1268,1024,560,408,275,171
3,02/02/2023,S,222,169,122,129,251,481,1140,2553,...,1841,1835,2060,1888,1679,1353,1075,717,654,364
4,02/03/2023,P,103,71,82,91,118,215,442,629,...,3001,3248,3180,3007,2027,1105,669,485,294,183
5,02/03/2023,S,314,204,134,152,213,499,1628,3090,...,2732,3183,3505,3334,3014,2199,1631,1021,646,348
6,02/04/2023,P,121,74,69,86,98,187,369,584,...,3802,3973,3786,3529,3220,1501,1059,650,346,232
7,02/04/2023,S,276,148,117,104,201,1798,3353,3785,...,2087,2034,1857,1415,1185,889,749,561,385,276
8,02/05/2023,P,132,101,104,98,136,240,501,854,...,3958,3981,3910,3744,3667,3658,2333,825,370,196
9,02/05/2023,S,193,105,85,78,139,961,3510,3393,...,1977,1758,1515,1207,932,660,495,375,248,142
10,02/06/2023,P,90,49,49,58,101,238,613,1083,...,2152,3037,2645,1954,1154,699,454,302,201,153

In [4]:
Tunnel_Feb['Count Date'] = pd.to_datetime(Tunnel_Feb['Count Date'], infer_datetime_format = True)
Tunnel_Feb = Tunnel_Feb.set_index('Count Date')

In [5]:
Tunnel_Feb['Weekday'] = Tunnel_Feb.index.dayofweek
Tunnel_Feb.iloc[:5]

,Dir,0h,1h,2h,3h,4h,5h,6h,7h,8h,...,15h,16h,17h,18h,19h,20h,21h,22h,23h,Weekday
Count Date,,,,,,,,,,,,,,,,,,,,,
2023-02-01,P,102,77,57,95,118,207,460,758,887,...,2709,2464,1817,1116,692,466,389,242,178,2
2023-02-01,S,152,113,98,135,245,431,978,1946,2240,...,1420,1496,1306,1097,783,620,508,411,307,2
2023-02-02,P,137,72,66,72,121,220,441,752,831,...,2782,2853,1750,1268,1024,560,408,275,171,3
2023-02-02,S,222,169,122,129,251,481,1140,2553,2789,...,1835,2060,1888,1679,1353,1075,717,654,364,3
2023-02-03,P,103,71,82,91,118,215,442,629,841,...,3248,3180,3007,2027,1105,669,485,294,183,4

In [13]:
Tunnel_Feb_East = Tunnel_Feb.loc[Tunnel_Feb.Dir == 'P', :]
Tunnel_Feb_East.iloc[:5]

,Dir,0h,1h,2h,3h,4h,5h,6h,7h,8h,...,15h,16h,17h,18h,19h,20h,21h,22h,23h,Weekday
Count Date,,,,,,,,,,,,,,,,,,,,,
2023-02-01,P,102,77,57,95,118,207,460,758,887,...,2709,2464,1817,1116,692,466,389,242,178,2
2023-02-02,P,137,72,66,72,121,220,441,752,831,...,2782,2853,1750,1268,1024,560,408,275,171,3
2023-02-03,P,103,71,82,91,118,215,442,629,841,...,3248,3180,3007,2027,1105,669,485,294,183,4
2023-02-04,P,121,74,69,86,98,187,369,584,839,...,3973,3786,3529,3220,1501,1059,650,346,232,5
2023-02-05,P,132,101,104,98,136,240,501,854,1328,...,3981,3910,3744,3667,3658,2333,825,370,196,6

In [14]:
Tunnel_Feb_West = Tunnel_Feb.loc[Tunnel_Feb.Dir != 'P', :]
Tunnel_Feb_West.iloc[:5]

,Dir,0h,1h,2h,3h,4h,5h,6h,7h,8h,...,15h,16h,17h,18h,19h,20h,21h,22h,23h,Weekday
Count Date,,,,,,,,,,,,,,,,,,,,,
2023-02-01,S,152,113,98,135,245,431,978,1946,2240,...,1420,1496,1306,1097,783,620,508,411,307,2
2023-02-02,S,222,169,122,129,251,481,1140,2553,2789,...,1835,2060,1888,1679,1353,1075,717,654,364,3
2023-02-03,S,314,204,134,152,213,499,1628,3090,3381,...,3183,3505,3334,3014,2199,1631,1021,646,348,4
2023-02-04,S,276,148,117,104,201,1798,3353,3785,3418,...,2034,1857,1415,1185,889,749,561,385,276,5
2023-02-05,S,193,105,85,78,139,961,3510,3393,2865,...,1758,1515,1207,932,660,495,375,248,142,6